body {
	background-color: #ECE5DF;
}

header {
	text-align: center;
	font-family: "Georgia", serif;
}

h1, h2, h3, h4, h5, h6, p, ul li, pre, tr, tb, td, table, th, details, summary, figcaption, ol li {
	color: #1D361F;
	font-family: "Georgia", serif;
}

nav ul {
	background-color: #c4c7b6;
	padding: 12px 16px;
	display: flex;
	justify-content: space-around;
	border-radius: 60px;
	list-style-type: square;
	margin-right: 50px;
	margin-left: 50px;
}

nav a { 
	color: #1d361f; 
}

nav a:hover { 
	color: #ffffff; 
}

aside {
	justify-content: left;
	width: 30%;
	padding-left: 20px;
	margin-left: 20px;
	float: right;
	font-style: italic;
	background-color: #ECE5DF;
	border-radius: 60px;
	border-inline: solid #859B48;
}

.artigo {
	border-radius: 60px;
	border-color: white;
	background-color: #DFC8B6;
	text-align: left;
	padding: 20px;
	margin-left: 100px;
	margin-right: 100px;
}

.artigo2 {
	border-radius: 60px;
	border-color: white;
	background-color: #C4C7B6;
	text-align: left;
	padding: 20px;
	margin-left: 100px;
	margin-right: 100px;
}

blockquote {
	font: 14px/22px normal helvetica, sans-serif;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 120px;
	margin-right: 400px;
	padding-left: 15px;
	border-left: 3px solid #859B48;
	background-color: #ECE5DF;
	border-radius: 10px;
	color: #1D361F;
}

footer {	
	text-align: center;
	background-color: #C4C7B6;
	border-radius: 60px;
	padding: 1px;
}

address {
	padding: 6px;
}

.envie {
	text-align: center;
	background-color: #C4C7B6;
	border-radius: 60px;
	margin-left: 100px;
	margin-right: 100px;
}

fieldset {
	background-color: #DFC8B6;
	color: #1D361F;
	font-family: "Georgia", serif;
	margin-left: 120px;
	margin-right: 120px;
	border: solid #1D361F 2px;
	border-radius: 25px;
	padding: 12px;
}

input, select, textarea {
	background-color: #ECE5DF;
	color: #1D361F;
	font-family: "Georgia", serif;
	border: solid #1D361F 2px;
	border-radius: 5px;
}

tr, tb, td, table {
	background-color: #ECE5DF;
	border: #ECE5DF;

}

th {
	background-color: #C4C7B6;
}

table {
	border: solid #1D361F;
	border-radius: 5px;
}

img {
	border: solid #1D361F 3px;
	border-radius: 5px;
	width: 30%;

}

